#container {
    width : 80%;
    margin: auto;
}

#panel1 {
    float : left;
}

#panel2 {
    float : right;
}

.panel {
    width : 49%;
}

.mutation {
    background-color : #89ff9d;
}

#clear {
    clear : both;
}

.MuiSvgIcon-root-168 {
    cursor: pointer;
}

.mutantName {
    color: blue;
    cursor: pointer;
}

.mutantName:hover {
    text-decoration: underline;
}

#save-file {
    text-align: center;
}

#summary {
    text-align: center;
    margin:15px;
}