#killed {
    background-color: rgb(136, 255, 136);
}

#equivalent {
    background-color: rgb(255, 253, 133);
}

#live {
    background-color: rgb(247, 82, 82);
}

.panel {
    float: left;
}

#panel1 {
    width: 300px;
}

#clear {
    clear: both;
}

#summaryHeader {
    margin-bottom: 5px;
}